
img {
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

.headerBlock {
    width: 33%;
    display: inline-block;
}

#mainDiv {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#mainTitle {
    color: whitesmoke;
    font-weight: 800;
    font-size: 36px;
}

#mainTitle:hover {
    color: #3d7529;
}

#userInput {
    margin-bottom: 18px;
    /*color: #8bc32f;*/
    color: white;
}

.bodyText {
    color: white;
}

#userInput:hover {
    color: #3d7529;
}

.bodyText:hover {
    color: #3d7529;
}

body {
    margin: 0;
}

span {
    font-weight: 600;
}

.App {
    background-image: url('assets/aron-visuals-BXOXnQ26B7o-unsplash.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
}


h2 {
    margin-top: 0px;
    padding: 20px;
}

header {
    /*background-color: #6eb867; */
    background-image: url('assets/joshua-bartell-6vvIBTvL90A-unsplash.jpg');
    background-size: 20%;
    background-repeat: repeat;
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 0;
}

header:hover {
    background-color: #8bc32f;
}

button {
    margin: 15px 12px 2px;
    color: #125489;
    padding: 7px
}

button:hover {
    color: #e0a31d
}

section {
    width: 100%;
    text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #401010;
  
  background-image: url('assets/joshua-bartell-6vvIBTvL90A-unsplash.jpg');
  background-size: 20%;
  background-repeat: repeat;
  
  color: white;
  text-align: center;
}

footer:hover {
    background-color: #6e0909;
  /*background-color: #ad2b2b; */
}

#developedBy:hover {
    color: #16820e;
}

.reportArea {
    margin: 0px 45px;
}

.reportArea:hover {
    background-color:#afdcdc;
}

.mainTextArea {
    margin-top: 0px;
    width: 90%;
}

.center {
    align-items: center;
    margin-left: 430px;
}

@media (max-width: 1400px) {
    .center {
        margin-left: 170px;
    }

}

@media (max-width: 1000px) {
    .center {
        margin-left: 100px;
    }
}

@media (max-width: 700px) {
    .center {
        margin-left: 50px;
    }
}